<div class="header-wrap">
  <div class="header">
    <div class="logo">
      <h1>Business Name</h1>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About </a></li>
        <li><a routerLink="/services" routerLinkActive="active">Services </a></li>
        <li><a routerLink="/work" routerLinkActive="active">Work</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/login" routerLinkActive="active">Log Out</a></li>
      </ul>
    </div>
  </div>
</div>
